
* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    margin: 1.563rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    font-size: 0.813rem;
    font-weight: 600;
}

p {
    font-size: 0.813rem;
    font-weight: 500;
}

.white, .grayish-blue {
    margin-bottom: 1.563rem;
    padding: 1.875rem;
    border-radius: 0.625rem;
}

.contact {
    display: flex;
    max-height: 30px;
    flex-wrap: wrap;
    align-content: center;
}

.verified { 
    margin-top: -.6rem;
}

img {
    border-radius: 50%;
    align-self: center;
    margin-right: 1rem;
    max-height: 30px;
}

.white img {
    border: solid 0.125rem rgba(255, 255, 255, 0.5);
}

.grayish-blue img {
    border: solid 0.125rem hsla(210, 13%, 31%, 0.5);
}

/* ----------------------------------------------------- */
/* ----------------- text color ------------------------ */
/* ----------------------------------------------------- */


.white {
    color: white;
}

.white .verified {
    color: rgba(255, 255, 255, 0.5);
}

.white .review {
    color: rgba(255, 255, 255, 0.7);
}

.grayish-blue {
    color: hsl(210, 13%, 31%);
}

.grayish-blue .verified {
    color: hsla(210, 13%, 31%, 0.5);
}

.grayish-blue .review {
    color: hsla(210, 13%, 31%, 0.7);
}

/* ----------------------------------------------------- */
/* --------------------- quote image ------------------- */
/* ----------------------------------------------------- */


.daniel-rectangle {
    position: relative;
}

#quote {
    position: absolute;
    top: 0px;
    right: 2rem;
    border-radius: 0%;
    border: none;
    align-self: center;
    margin-right: 1rem;
    height: 120px;
    z-index: 1;
    max-height: 120px;
    max-width: 150px;
}

.z-index-top {
    position: relative;
    z-index: 2;
}
/* ----------------------------------------------------- */
/* ----------------- background colors ----------------- */
/* ----------------------------------------------------- */

.daniel-rectangle {
    background-color: hsl(263, 55%, 52%);
}

.jonathan-rectangle {
    background-color: hsl(217, 19%, 35%);
}

.jeanette-rectangle {
    background-color: white;
}

.patrick-rectangle {
    background-color: hsl(219, 29%, 14%);
}

.kira-rectangle {
    background-color: white;
}

/* ----------------------------------------------------- */
/* -------------------- footer ------------------------- */
/* ----------------------------------------------------- */

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 900px) {
    #grid {
        max-width: 1300px;
        display: grid;
        grid-template-areas:
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
        grid-template-columns: 25% 25% 25% 25%;
    }

    body {
        height: 93vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        position: absolute;
        bottom: 0;
        padding-bottom: .5rem;
    }
    .daniel-rectangle {
        grid-area: daniel;
    }

    .jonathan-rectangle {
        grid-area: jonathan;
    }

    .kira-rectangle {
        grid-area: kira;
    }

    .patrick-rectangle {
        grid-area: patrick;
    }

    .white, .grayish-blue {
        margin: 1rem;

    }

    h1 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    

}