
* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: antiquewhite;
}

/* ----------------------------------------------------- */
/* ----------------- text color ------------------------ */
/* ----------------------------------------------------- */


.white {
    color: white;
}

.white .verified {
    color: rgba(255, 255, 255, 0.5);
}

.white .review {
    color: rgba(255, 255, 255, 0.7);
}

.grayish-blue {
    color: hsl(210, 13%, 31%);
}

.grayish-blue .verified {
    color: hsla(210, 13%, 31%, 0.5);
}

.grayish-blue .review {
    color: hsla(210, 13%, 31%, 0.7);
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.daniel-rectangle {
    background-color: hsl(263, 55%, 52%);
}

.jonathan-rectangle {
    background-color: hsl(217, 19%, 35%);
}

.jeanette-rectangle {
    background-color: white;
}

.patrick-rectangle {
    background-color: hsl(219, 29%, 14%);
}

.kira-rectangle {
    background-color: white;
}

/* ----------------------------------------------------- */
/* -------------------- footer ------------------------- */
/* ----------------------------------------------------- */

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }